.blogPreview {
  width: 100%;
  position: relative;
  text-decoration: none;

  >.blogPreviewCover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-radius: 8px;
  }

  >.blogPreviewInfo {
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba($color: #000000, $alpha: .6);
    border-radius: 8px;

    >.blogPreviewInfoTitle {
      font-family: Anton;
      color: white;
      font-size: 44px;
      margin-bottom: 5px;
      letter-spacing: 2px;
      text-decoration: none;
      margin-bottom: auto;
      margin-top: 40px;
    }

    >.blogPreviewInfoDescription {
      font-size: 20px;
      line-height: 35px;
      font-weight: 600;
      color: white;
      font-family: Lato;
      margin-top: 0;
      height: 200px;
    }

    >.blogPreviewInfoOptions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      >.blogPreviewInfoOptionsItem {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        display: grid;
        grid-template-columns: 20px auto;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;

        >.blogPreviewInfoOptionsItemIcon {
          color: white;
          font-size: 13px;
        }

        >.blogPreviewInfoOptionsItemText {
          font-family: Lato;
          font-size: 15px;
          font-weight: 600;
          color: white;
          align-self: flex-start;
        }
      }
    }
  }
}