.contact {
  height: 100vh;
  box-sizing: border-box;
  padding: 30px 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;    
    background-size: cover;
  }

  >.contactTitle {
    font-family: Anton;
    color: white;
    font-size: 55px;
    letter-spacing: 8px;
    margin-bottom: 50px;
    text-align: center;
  }

  >.contactForm {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contactFormInput {
      background-color: white;
      color: #2c2b2b;
      font-family: Quicksand;
      font-weight: bold;
    }

    .contactFormLabel {
      color: #2c2b2b;

      &.inverse {
        color: white;
      }
    }

    .contactFormTextArea {
      height: auto;
    }

    >.contactFormSubmit {
      height: 90px;
      width: 80%;
      background-color: #fed330;
      border: none;
      border-radius: 4px;
      font-family: Anton;
      letter-spacing: 4px;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0 20px;
    padding-bottom: 25px;
    height: auto;

    >.contactForm {
      width: 100%;

      >.contactFormSubmit {
        font-size: 24px;
      }
    }
  }
}