.contact {
  height: 100%;
  padding: 30px 50px;
  background-image: url('https://images.clipartlogo.com/files/istock/previews/1068/106857169-low-polygon-shapes-black-background-dark-crystals.jpg');
  background-size: cover;

  >.contactTitle {
    font-family: Anton;
    color: white;
    font-size: 55px;
    letter-spacing: 8px;
    margin-bottom: 50px;
    text-align: center;
  }

  >.contactForm {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contactFormTextArea {
      height: auto;
    }

    >.contactFormSubmit {
      height: 90px;
      width: 80%;
      background-color: #fed330;
      border: none;
      border-radius: 4px;
      font-family: Anton;
      letter-spacing: 4px;
      font-size: 30px;
    }
  }
}