.formGroup {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;

  >.label {
    font-family: Quicksand;
    font-weight: bold;
    color: white;
    font-size: 18px;
    position: absolute;
    margin: 0 20px;
    transition: top .2s linear, margin .2s linear, color .2s linear;
    top: 18px;
    letter-spacing: 2px;
    pointer-events: none;

    &.labelFloat {
      top: -30px;
      margin: 0;
    }
  }

  >.input {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    background-color: #353535;
    border: 0;
    border-radius: 6px;
    padding: 20px;
    line-height: 30px;
    box-shadow: none;

    &:focus ~.label {
      top: -30px;
      margin: 0;
    }
  }
}