@import "../../assets/scss/colors.scss";

.header {
  background-color: transparent;
  max-height: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  transition: background .5s linear, height 1s linear;
  position: absolute;
  top: 0;
  width: 100%;

  &.inverse {
    background-color: #242424;
    position: fixed;
    width: 100%;
    top: 0;
    animation: toInverse .5s linear;

    .brand {
      opacity: 1;
      padding-left: 30px;
      width: 700px;
    }

    .headerNav {
      animation: headerSwitch 2s linear;
      overflow: hidden;
      margin-top: 0;
      padding: 25px 0;
      padding-right: 70px;
      margin-left: 140px;
    }
  }

  .brand {
    opacity: 0;
    display: flex;
    max-height: 800px;
    overflow: hidden;

    >.brandTitle {
      font-family: Anton;
      font-size: 22px;
      color: white;
      letter-spacing: 7px;
      margin: 0;
      margin-left: 15px;
      align-self: flex-end;
    }

    >.logo {
      width: 80px;
    }
  }

  .headerNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 295px;
    padding-right: 70px;

    .headerNavItem {
      font-family: Anton;
      font-size: 35px;
      color: white;
      position: relative;
      text-decoration: none;

      &::after {
        content: '';
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8px;
        width: 0;
        transition: width .3s linear;
      }

      &:hover::after {
        width: 110%;
      }

      &.purple::after {
        background-color: $purple;
      }
      &.yellow::after {
        background-color: $yellow;
      }
      &.red::after {
        background-color: $red;
      }
      &.green::after {
        background-color: $green;
      }
    }
  }
}

@keyframes headerSwitch {
  from {
    max-height: 0;
  } to {
    max-height: 800px;
  }
}

@keyframes toInverse {
  from {
    top: -100px;
  } to {
    top: 0;
  }
}