@import "../css/typography.css";

body {
    background-color: #2c2b2b;
    margin: 0;
}

main {
    margin-left: 380px;
}

main .tl-edges .tl-wrapper,
main .tl-edges {
    height: 100%;
}

#gatsby-focus-wrapper {
    position: relative;
}

@media screen and (max-width: 992px) {
    main {
        margin-left: 0;
        margin-top: 15vh;
        height: auto;
    }
}