@import "../css/typography.css";

html,
body,
#___gatsby,
#gatsby-focus-wrapper,
main {
    height: 100%;
}

body {
    background-color: #2c2b2b;
    margin: 0;
}

main {
    margin-left: 380px;
}

#gatsby-focus-wrapper {
    position: relative;
}