@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@font-face {
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Solway;
    src: url('../fonts/Solway-Regular.ttf');
}

@font-face {
    font-family: SolwayLight;
    src: url('../fonts/Solway-Light.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-M.ttf');
}

@font-face {
    font-family: UbuntuLight;
    src: url('../fonts/Ubuntu-L.ttf');
}