@font-face {
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Solway;
    src: url('../fonts/Solway-Regular.ttf');
}

@font-face {
    font-family: SolwayLight;
    src: url('../fonts/Solway-Light.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-M.ttf');
}

@font-face {
    font-family: UbuntuLight;
    src: url('../fonts/Ubuntu-L.ttf');
}