@import "../../assets/scss/colors.scss";

.sidebar {
  width: 380px;
  height: 97vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  box-shadow: 0 0 5px #1e1e1e;

  >.logo {
    display: flex;
    max-height: 800px;
    overflow: hidden;
    transition: max-height .6s linear;

    >.sidebarToggle {
      display: none;
    }

    >img {
      width: 300px;
    }

    >.brand {
      font-family: Anton;
      font-size: 28px;
      color: white;
      letter-spacing: 7px;
      margin: 0;
      align-self: flex-end;
    }
  }

  >.sidebarSearch {
    width: 100%;
    margin-top: 40px;

    >.sidebarSearchWrapper {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 85%;

      >.sidebarSearchWrapperIcon {
        color: white;
        position: absolute;
        top: 17px;
        left: 8px;
      }

      >.sidebarSearchWrapperInput {
        box-sizing: border-box;
        font-family: Solway;
        font-weight: 600;
        color: white;
        font-size: 16px;
        background-color: #2c2b2b;
        height: 50px;
        width: 100%;
        border: 0;
        border-radius: 6px;
        padding: 0 20px;
        text-indent: 15px;
        box-shadow: none;
        transition: border .2s linear;

        &:focus {
          border: 1px solid #a55eea;
        }
      }
    }
  }

  >.sidebarNav {
    width: 85%;
    display: block;
    margin: 20px auto;

    >.sidebarNavList {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      >.sidebarNavListItem {
        margin: 10px 0;

        >.sidebarNavListItemLink {
          font-family: Anton;
          color: white;
          font-size: 30px;
          text-decoration: none;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  >.sidebarFooter {
    margin-top: auto;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;

    >.sidebarFooterContact {
      width: 49%;
      margin-left: 20px;
      margin-top: auto;
      margin-bottom: 35px;

      >.sidebarFooterContactName {
        letter-spacing: 1px;
        font-family: Anton;
        font-style: normal;
        font-size: 32px;
        color: white;
        margin-bottom: 10px;
      }

      >.sidebarFooterContactMedia {
        display: flex;
        justify-content: space-between;

        .sidebarFooterContactMediaIcon {
          font-size: 22px;
          color: white;
        }
      }
    }

    >.sidebarFooterStroke {
      width: 25px;
      height: 250px;
      position: absolute;

      >.sidebarFooterStrokeBar {
        width: 25px;
        height: 100%;
        background-color: #a55eea;
        transform: rotate(25deg);
        position: absolute;
        bottom: 0;
      }

      >.sidebarFooterStrokeBack {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 10px;
      }

      &:nth-of-type(1) {
        height: 270px;
        right: 15px;
        bottom: -35px;

        >.sidebarFooterStrokeBack {
          background-color: #9356cf;
          left: 40px;
          top: 9px;
          width: 22px;
          height: 37px;
        }
      }

      &:nth-of-type(2) {
        right: 3px;
        bottom: -130px;

        >.sidebarFooterStrokeBar {
          background-color: #fed330;
          transform: rotate(22deg);
          right: 5px;
        }

        >.sidebarFooterStrokeBack {
          background-color: #e6c02e;
          left: 28px;
          top: 7px;
          width: 18px;
          height: 38px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    height: 15vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 0;
    position: fixed;
    padding: 0 10px;
    transition: height .3s linear;

    &.showMobileSidebar {
      height: 100vh;
      justify-content: flex-start;

      >.logo {
        height: auto;
        margin-top: 30px;
      }

      >.sidebarFooter,
      >.sidebarNav,
      >.sidebarSearch {
        height: auto;
      }

      >.sidebarFooter {
        margin: 0;
        margin-top: auto;
        justify-content: center;

        >.sidebarFooterContact {
          width: 100%;
          margin: 10px 30px;
          display: flex;
          flex-direction: column;
          align-items: center;

          >.sidebarFooterContactMedia {
            width: 80%;
          }
        }
      }
    }

    >.logo {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      height: 100%;

      >.sidebarToggle {
        display: block;
        background: transparent;
        border: none;
        margin-right: 25px;

        >.sidebarToggleIcon {
          color: white;
          font-size: 25px;
        }
      }

      >img {
        width: 230px;
        margin-right: 5px;
      }
      >.brand {
        font-size: 20px;
        align-self: auto;

        >br {
          display: none;
        }
      }
    }

    >.sidebarSearch >.sidebarSearchWrapper {
      margin-top: 70px;
    }

    >.sidebarSearch,
    >.sidebarNav,
    >.sidebarFooter {
      height: 0;
      margin: 0;

      >.sidebarFooterStroke {
        display: none;
      }
    }
  }
}