.searchContainer {
  &.highlitedBox {
    border: 1px solid #a55eea;
    border-radius: 6px;
  }

  .sidebarSearchWrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
  
    >.sidebarSearchWrapperIcon {
      color: white;
      position: absolute;
      top: 17px;
      left: 8px;
    }
  
    >.sidebarSearchWrapperInput {
      box-sizing: border-box;
      font-family: Solway;
      font-weight: 600;
      color: white;
      font-size: 16px;
      background-color: #2c2b2b;
      height: 50px;
      width: 100%;
      border: 0;
      border-radius: 6px;
      padding: 0 20px;
      text-indent: 15px;
      box-shadow: none;
      transition: border .2s linear;

      &.inputMixedWithContainer {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid #353535;
      }

      &:not(.inputMixedWithContainer):focus {
        border: 1px solid #a55eea;
      }
    }
  }
  
  .searchResults {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2c2b2b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
  
    >.searchResultsItem {
      &:hover {
        background-color: #313131;
      }
  
      &:not(:last-of-type) {
        border-bottom: 1px solid #353535;
      }
  
      >a {
        text-decoration: none;
        display: block;
        padding: 15px;
      }
  
      .searchResultsItemTitle {
        font-family: Anton;
        color: white;
        font-size: 18px;
      }
  
      .searchResultsItemDescription {
        font-family: Ubuntu;
        color: white;
        font-size: 14px;
      }
    }
  }
}
