@import "../../assets/scss/colors.scss";

.post {
  .postHeader {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    .postHeaderCover {
      height: 350px;
      width: 100%;
      margin: 0;

      >img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      >.postHeaderCoverCredit {
        text-align: right;
        padding: 0 15px;
        font-family: Lato;
        color: white;
        font-weight: normal;
        font-style: oblique;
      }
    }

    .postHeaderTitle {
      font-family: Anton;
      color: white;
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 8px;
      position: relative;
      margin-top: 30px;
      margin-bottom: 0;
      padding: 0 80px;
    }
  }

  .postBody {
    padding: 0 80px;
    padding-top: 0;
    padding-bottom: 40px;

    .postBodyContent {
      font-family: "open sans";
      color: white;
      line-height: 40px;

      h3 {
        font-size: 28px;
        color: $yellow;
        text-transform: uppercase;

        &::before {
          content: "🧙🏾";
          margin-right: 15px;
        }
      }

      h4 {
        font-size: 25px;
        margin-bottom: 0;
      }

      h6 {
        font-weight: normal;
        font-size: 32px;
        font-style: oblique;
        margin: 20px 0;
        margin-bottom: 0;

        &::after {
          content: '\1F919';
          font-size: 27px;
          margin-left: 15px;
        }
      }

      a {
        color: $yellow;
        text-decoration: none;
      }

      p {
        font-size: 19px;
      }

      blockquote {
        background-color: #353535;
        margin: 0;
        padding: 10px;
        position: relative;
        
        &::before {
          content: open-quote;
          position: absolute;
          font-size: 50px;
          color: $yellow;
        }

        &::after {
          content: no-close-quote;
        }

        p {
          margin: 0;
          text-indent: 35px;
        }
      }

      code {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        background-color: #404040;
        display: inline-block;
        line-height: 22px;
        padding: 0 3px;
      }

      ul {
        list-style: none;
        padding-left: 0;

        >li {
          display: flex;
          align-items: center;

          &::before {
            content: '\1F680';
            margin-right: 15px;
            font-size: 22px;

          }
        }
      }
    }
  }

  .postFooter {
    background-color: #242424;
    width: 100%;
    height: 200px;
    margin-top: 70px;
    position: relative;
    padding: 20px 80px;
    padding-right: 0;
    box-sizing: border-box;

    >.postFooterPhoto {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: -80px;
      right: 50px;
      border: 8px solid white;
    }

    >.postFooterContact {
      font-style: normal;

      >.postFooterContactTitle {
        font-family: UbuntuLight;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 10px;
      }

      >.postFooterContactName {
        font-family: Anton;
        color: white;
        font-size: 26px;
        margin: 0;
      }

      >.postFooterContactPhrase {
        font-style: italic;
        font-family: Ubuntu;
        color: white;
        position: relative;
        margin: 10px 0;
        width: 65%;

        &::before {
          content: close-quote;
          font-size: 20px;
          color: white;
        }
        &::after {
          content: open-quote;
          font-size: 20px;
          color: white;
        }
      }
    }

    >.postFooterTime {
      font-family: Ubuntu;
      color: white;
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .postHeader {
      height: auto;
      .postHeaderCover {
        height: 200px;
        margin-bottom: 15px;

        >.postHeaderCoverCredit {
          text-align: center;
        }
      }
      .postHeaderTitle {
        padding: 0 15px;
        font-size: 28px;
        margin-bottom: 0;
        text-align: center;
      }
    }

    .postBody {
      padding: 10px 15px;

      .postBodyContent {
        h3 {
          margin: 5px 0;
          font-size: 22px;
          text-align: center;

          &::before {
            display: block;
            margin-right: 0;
            font-size: 30px;
          }
        }

        img {
          width: 100%!important;
        }

        blockquote {
          >p {
            font-size: 16px;
            line-height: 30px;
          }

          box-shadow: 0 0 10px #242424;
        }
      }
    }

    .postFooter {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-top: 90px;
      height: auto;

      >.postFooterPhoto {
        align-self: center;
        right: unset;
      }

      >.postFooterContact {
        padding: 15px;
        text-align: center;

        >.postFooterContactPhrase {
          text-align: center;
          display: block;
          width: 100%;
        }
      }

      >.postFooterTime {
        text-align: center;
      }
    }
  }
}